<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAx9SXmZS_xNmfO324iG8YlsEGN_H8xptQ</string>
	<key>GCM_SENDER_ID</key>
	<string>553575107355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookbox</string>
	<key>PROJECT_ID</key>
	<string>bookbox-2d0f7</string>
	<key>STORAGE_BUCKET</key>
	<string>bookbox-2d0f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553575107355:ios:a0909f0fef5ad7ead261be</string>
</dict>
</plist>